body.light {
  background-color: #fff;
  color: #333;
}

body.dark {
  background-color: #333;
  color: #fff;
}

.Nav.light {
  background-color: #f5f5f5;
}

.Nav.dark {
  background-color: #222;
}

button.theme-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-grid {
  height: 400px;
  margin-bottom: 32px;
}

h1 {
  font-size: 56px;
  margin-bottom: 16px;
}

.description {
  font-size: 30px;
  color: #918E9B;
  line-height: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
}

.Cards {
  display: flex;
  justify-content: space-between;
  gap:40px;
}

.Main-text {
  text-align: center;
  margin-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10px;
  height: 500px;
  border-radius: 9px;
}

.card-stats {
  margin-bottom: 8px;
  margin-top: 9px;
}

.card-star {
  margin-right: 2px;
}

.rating-country {
  font-weight: 300;
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.card-desk {
  margin-bottom: 8px;
}

.card-badge {
  z-index: 1;
  position: absolute;
  top: 6px;
  left: 30px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
}