*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  line-height: 110%;
}


.theme-toggle-btn{
  position: relative;
  left: 1400px;
  bottom: 5px;
  width:40px;
  font-size: 20px;
}

